/* Typography */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  min-width: 920px;
  max-width: 1190px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.btn {
  background-color: #009dff;
  color: white;
  padding: 12px 26px;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: background-color 0.2s linear;
  display: inline-block;
}

.btn:hover {
  background-color: white;
  color: #009dff;
  border: 1px solid #009dff;
}


/* Header */
.header-area {
  position: sticky;
  position: -webkit-sticky;
  top: -43px;
  box-shadow: 0 3px 16px 0 rgb(0 0 0 / 10%);
  z-index: 99;
}

/* Socail Header */
.social-header {
  background-color: #F5FBFF;
  padding: 10px 0;
}

.social-header .left-area a {
  color: #C7C7C7;
  font-size: 1.2rem;
  margin-right: 10px;
}

.social-header .left-area a:hover {
  color: #5DB2FF;
}

.social-header .right-area ul li {
  align-items: center;
  margin-left: 10px;
}

.social-header .right-area ul li i {
  margin-right: 5px;
  color: #5DB2FF;
}

.social-header .right-area ul li a {
  color: #C7C7C7;
  font-size: 14px;
}

/* Main Header */
.main-header {
  padding: 20px 0;
  background: white;
}

.main-header .middle-area nav li {
  display: inline-block;
  padding: 0 10px;
  color: #727272;
}

/* Slider */
.slider-section {
  width: 100%;
  height: 600px;
  background-image: url(./assets/img/slider-img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slilder-content {
  width: 50%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slilder-content h2 {
  color: #1f1f1f;
  font-size: 64px;
}

.slilder-content h3 {
  color: #1f1f1f;
  font-weight: 100;
  font-size: 64px;
}

.slilder-content p {
  color: #727272;
  font-size: 18px;
  font-weight: 400;
  text-align: justify;
  line-height: 2rem;
  margin: 20px 0;
}

.slider-section .btn {
  padding: 20px 40px;
  width: fit-content;
}

/* Cards */
.cards-section {
  background-color: #83c4ff;
  color: white;
}

.cards-section .card {
  padding: 35px 25px;
}

.cards-section .card .icon i {
  font-size: 56px;
  width: 100;
}

.cards-section .card h4 {
  margin-top: 10px;
  font-size: 28px;
  width: 100;
}

.cards-section .card p {
  font-size: 16px;
  width: 400;
  line-height: 26px;
  padding: 15px 0;
  text-align: justify;
}

.cards-section .cards .left-card {
  padding-left: 0;
}

.cards-section .cards .right-card {
  padding-right: 0;
}

.cards-section .cards .middle-card {
  background: #5db2ff;
}

.cards-section .cards .card .btn {
  background: transparent;
  border: 1px solid white;
}

.cards-section .cards .card .btn:hover {
  background-color: white;
}

/* welcome area */
.welcome-section {
  padding: 100px 0;
}

.welcome-section .left-area {
  width: 50%;
  position: relative;
}

.welcome-section .left-area img {
  width: 50%;
}

.welcome-section .left-area .img2 {
  position: absolute;
  left: 200px;
  top: 100px;
}

.welcome-section .right-area {
  width: 50%;
}

.welcome-section .right-area .title {
  margin-bottom: 20px;
  font-size: 18px;
  position: relative;
  color: #1f1f1f;
}

.welcome-section .right-area .title::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 50px;
  height: 2px;
  background: #5db2ff;
}

.welcome-section .right-area h4 {
  font-size: 32px;
  font-weight: 600;
  margin: 30px 0;
  color: #1f1f1f;
}

.welcome-section .right-area .dec {
  text-align: justify;
  margin-bottom: 20px;
}

.welcome-section .right-area .dec,
.welcome-section .right-area ul li {
  color: #727272;
  font-size: 16px;
  line-height: 28px;
}

.welcome-section .welcome-list li i {
  color: #5db2ff;
}

.welcome-section .btn {
  margin-top: 20px;
  background-color: white;
  border: 1px solid #5db2ff;
  color: #5db2ff;
}

.welcome-section .btn:hover {
  background-color: #5db2ff;
  color: white;
}

/* Department Section */
.department-section {
  background-color: #f5fbff;
  padding: 100px 0;
}

.department-section .department-head {
  text-align: center;
}

.department-section .department-head .title {
  font-size: 36px;
  color: #1f1f1f;
  font-weight: 500;
  line-height: 48px;
  position: relative;
}

.department-section .department-head .title::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -15px;
  width: 50px;
  height: 2px;
  background: #5db2ff;
}

.department-section .department-head .dec {
  margin-top: 30px;
  font-size: 16px;
  color: #727272;
  line-height: 28px;
}

.department-section .department-cards {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.department-cards .card {
  max-width: 30%;
  margin: 20px 0;
  box-shadow: 0 6px 10px rgb(0 0 0 / 4%);
}

.department-cards .card .card-img {
  width: 100%;
  overflow: hidden;
}

.department-cards .card .card-img img {
  width: 100%;
  transition: transform .5s;
}

.department-cards .card .card-img img:hover {
  width: 100%;
  transform: scale(1.2);
}

.department-cards .card-body {
  background-color: white;
  padding: 30px;
}

.department-cards .card-body .card-title {
  font-size: 22px;
  font-weight: 400;
  color: #1f1f1f;
  margin-bottom: 10px;
}

.department-cards .card-body .card-dec {
  color: #727272;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 20px;

}

.department-cards .card-body a {
  color: #5db2ff;
  font-size: 16px;
}